<h2>Mis preguntas</h2>
<div *ngIf="cuestionarioSeleccionado">
    <ul class="preguntas">
        <li *ngFor="let pregunta of preguntas" [class.selected]="pregunta === preguntaSeleccionada"
            (click)="onSelect(pregunta)">
            <span class=""></span> {{pregunta.question_text}}
        </li>
    </ul>
</div>
<app-opciones *ngIf="preguntaSeleccionada" [preguntaSeleccionada]="preguntaSeleccionada"></app-opciones>
