<div *ngIf="!cuestionarioSeleccionado">
    <h2>PRUEBAS</h2>
    <ul class="cuestionarios">
        <li *ngFor="let cuestionario of cuestionarios" [class.selected]="cuestionario === cuestionarioSeleccionado"
            (click)="onSelect(cuestionario)">
            <span class="badge">{{cuestionario.id}}</span> {{cuestionario.name}}
        </li>
    </ul>
</div>
<app-preguntas *ngIf="cuestionarioSeleccionado" [cuestionarioSeleccionado]="cuestionarioSeleccionado"></app-preguntas>