<div *ngIf ="preguntaSeleccionada">
    <div *ngIf="opciones">
        <h2>OPCIONES</h2>
        <div *ngFor="let opcion of opciones">
            <label for="opcion{{opcion.id}}"> {{opcion.choice_text}} </label>
            <input id="opcion{{opcion.id}}" type="checkbox" name="opcion{{opcion.id}}" [(ngModel)]="opcion.model"
                [value]="opcion.correct" (change)="validateCheckBoxQuestion($event)">
        </div>
        <button style="margin-top: 15px;" (click)="enviarRespuesta()">Enviar respuesta</button>
    </div>
</div>
