<div *ngIf="!evaluado">
    <label for="name">Ingrese su cedula:</label>
    <input type="text" id="cedula" name="cedula" required minlength="4" maxlength="8" size="10" [(ngModel)]="cedula">
    <button style="margin-top: 15px;" (click)="obtenerEvaluado()">Ingresar</button>
</div>
<app-cuestionario *ngIf="evaluado" ></app-cuestionario>
